@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

.light * {
    --accent: #da1bda;
    --accent-dark: #c712c7;
    --border: rgb(215, 218, 221);
    --text: rgb(56, 56, 56);
    --text-light: white;
    --background: white;
    --link: #0070f3;
}

.dark * {
    --accent: #da1bda;
    --accent-dark: #c712c7;
    --border: #4e4e5c;
    --text: rgb(225, 225, 225);
    --text-light: black;
    --background: #212131;
    --link: #7bb8fe;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--link);
}

h1, h2 {
    letter-spacing: -1px;
}

code {
    padding: 0px 5px;
    border-radius: 4px;
    background-color: var(--border);
    font-size: 1rem;
}

ul, ol {
    margin-left: 40px;
}

p {
    line-height: 1.4rem;
}

.g-page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.g-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.g-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.g-row {
    display: flex;
    align-items: center;
}

.g-column {
    display: flex;
    flex-direction: column;
}

.g-article {
    width: 800px;
    margin: 50px 80px;
}

