@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

.markdown h1, h2 {
    margin: 20px 0 10px 0;
    font-size: 2rem;
}

.markdown h1 {
    font-size: 2rem;
}

.markdown h2 {
    font-size: 1.7rem;
}

.markdown h3 {
    font-size: 1.4rem;
}

.markdown p, .markdown ul, .markdown ol {
    margin: 20px 0;
    line-height: 2rem;
    font-family: "PT Serif", serif;
    font-size: 1.3rem;
}

.markdown ul, .markdown ol {
    margin-left: 50px;
}

.markdown strong {
    color: var(--text) !important;
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.5px;
}

.markdown .two-image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.markdown .two-image-row img {
    width: 50%;
    margin: 5px;
}

.markdown .close-lines {
    line-height: 10px;
}

.markdown .close-lines p {
    margin: 5px;
}

.markdown img {
    width: 100%;
}

.markdown .image-border {
    border: 1px solid var(--border);
}

.markdown .wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0 0 0;

    --width: 500px;
    --height: 350px;
    --scale: 0.8;
}

.markdown .wrapper {
    width: var(--width);
    height: var(--height);
}

.markdown .frame {
    width: calc(var(--width) / var(--scale));
    height: calc(var(--height) / var(--scale));
    background-color: white;
    transform: scale(var(--scale));
    transform-origin: 0 0;
}

.markdown .spacer {
    margin: 20px 0;
}

.markdown pre {
    margin: 20px 0;
}

.markdown code {
    font-size: 1.1rem !important;
}

.markdown pre code {
    font-size: 1rem !important;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.two-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--border);
    border-bottom: 0px;
    margin-bottom: 30px;
}

.two-table-item {
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.two-table-item:nth-child(odd) {
    border-right: 1px solid var(--border);
}

.two-table-header {
    font-size: 1.1rem;
    letter-spacing: -0.5px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--border);
}

.two-table-header:nth-child(odd) {
    border-right: 1px solid var(--border);
}

.caption {
    margin-top: 5px;
    display: inline;
    text-align: center;
    margin-bottom: 10px;
    opacity: 0.7;
}

.markdown table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--border);
    background-color: var(--background);
    color: var(--text);
    font-size: 0.95rem;
}

.markdown table code {
    font-size: 1rem !important;
}
  
.markdown th, .markdown td {
    border: 1px solid var(--border);
    padding: 0.5rem;
    text-align: left;
}
  
.markdown thead {
    background-color: var(--background-light);
}
  
.markdown tbody tr:nth-child(even) {
    background-color: var(--background-light);
}
  