.markdown h1, h2 {
    margin: 30px 0 15px 0;
}

.markdown p {
    margin: 15px 0;
    line-height: 1.5rem;
}

.markdown strong {
    color: var(--text) !important;
}

.markdown .two-image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.markdown .two-image-row img {
    width: 50%;
    margin: 10px;
}

.markdown .close-lines {
    line-height: 10px;
}

.markdown img {
    width: 100%;
}

.markdown .image-border {
    border: 1px solid var(--border);
}

.markdown .wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0 0 0;

    --width: 500px;
    --height: 350px;
    --scale: 0.8;
}

.markdown .wrapper {
    width: var(--width);
    height: var(--height);
}

.markdown .frame {
    width: calc(var(--width) / var(--scale));
    height: calc(var(--height) / var(--scale));
    background-color: white;
    transform: scale(var(--scale));
    transform-origin: 0 0;
}

.markdown .spacer {
    margin: 20px 0;
}

.markdown pre {
    margin: 20px 0;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: var(--border);
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

